/* common_general_rules */
body {
	font-family: Arial, sans-serif;
}

.container_major {
	width: 1170px;
	height: 100%;
	margin: auto;
}
/* /common_general_rules */

/* debug */
.debug #site_header {
	height: 100px;
	background-color: #edee9b9a;
}

.debug #site_main {
	height: 5874px;
	background-color: #d3fbc075;
}

.debug #site_footer {
	height: 548px;
	background-color: #b6bcf2ab;
}

.debug .jumbo {
	height: 720px;
	background-color: #fd7878;
}

.debug .console {
	height: 1161px;
	background-color: #bbf7fb;
}

.debug .takes {
	height: 618px;
	background-color: #fdd79e;
}

.debug .games {
	height: 715px;
	background-color: #d3fbc0;
}

.debug .play_station_4 {
	height: 725px;
	background-color: #f19595;
}

.debug .play_station_plus {
	height: 400px;
	background-color: #e3ea99;
}

.debug .play_station_store {
	height: 677px;
	background-color: #72e4a6;
}

.debug .play_station_now {
	height: 460px;
	background-color: #e3f864;
}

.debug .social {
	height: 398px;
	background-color: #f3a7f5;
}
/* /debug */

/**********
#SITE_HEADER 
**********/

/* .header_up */
.header_up {
	width: 100%;
	height: 40px;
	background-color: #000;
	text-align: right;
}

.header_up img {
	height: 100%;
	padding: 0.8rem;
}
/* /.header_up */

/* .menu */
.menu {
	justify-content: space-between;
	align-items: center;
}

.bg_white {
	background-color: #fff !important;
}

.nav-item i {
	color: #999999;
	font-size: 10px;
	margin-left: 0.3rem;
}

.btn_menu_right {
	width: auto;
	height: auto;
	border-radius: 20px;
	border: 1px solid #000;
	background: #363636;
	color: #fff !important;
}

.nav-item a {
	color: #000;
}

.nav-link {
	text-align: center;
}

.nav-link img {
	width: 60%;
	height: 60%;
}

.navbar-brand img,
.nav-link img {
	padding: 0;
}
/* /.menu */

/**********
/#SITE_HEADER 
**********/

/**********
#SITE_MAIN 
**********/

/* .jumbo */
.jumbo {
	position: relative;
	height: auto;
}

.jumbo img {
	max-width: 100%;
}

.content_jumbo {
	width: 40%;
	height: auto;
	position: absolute;
	left: 15%;
	top: 42%;
	color: #fff;
}

.content_jumbo img {
	width: 25%;
	height: auto;
}

.content_jumbo h3,
img {
	padding-bottom: 1.5rem;
}

.content_jumbo button,
.content_takes button {
	border-radius: 20px;
	background-color: #cd3d0f;
	border-color: #cd3d0f;
	font-size: 15px;
}

.image_card {
	padding-bottom: 0;
	border-radius: 10px;
}
/* /.jumbo */

/* .console */
.console {
	margin-top: 5rem;
}

.console h4 {
	color: #0072ce;
}

.text_console {
	text-align: center;
	padding-bottom: 5rem;
}

.image_console {
	height: auto;
	width: 100%;
}

.btn {
	border-radius: 20px;
}

.row_console_card img {
	height: auto;
	width: 50%;
	padding: 0;
}

.img_card_console {
	opacity: 1 !important;
}

.row_console_card a {
	text-decoration: none;
	opacity: 0.5;
}

.row_console_card col {
	border-bottom: 1px solid #0072ce;
}

.row_console_card h5 {
	text-decoration: none;
	font-size: 15px;
	color: #000;
}
/* /.console */

/* .takes */
.takes:first-child {
	background-size: cover;
}

.content_takes {
	position: absolute;
	left: 20%;
	top: 15%;
}

.content_takes img {
	width: 25%;
	height: auto;
}

.content_takes h3,
p {
	color: #fff;
	padding: 0 !important;
}

.content_takes p {
}
/* /.takes */

/* .games */
.games {
	width: 100%;
	height: auto;
	background-color: #1f1f1f;
}

.games img {
	height: auto;
	width: 100%;
	padding: 0;
	border-radius: 20px;
}

.games .col {
	text-align: center;
}

.text_games {
	color: #fff;
	padding-top: 2rem;
}

.games a {
	text-decoration: none;
	color: #fff;
	font-size: 15px;
}

.games h5 {
	font-size: 15px;
	text-align: left;
	padding-top: 0.7rem;
}

.games sup {
	font-size: 7px;
}
/* /.games */

/* .play_station_4 */
.play_station_4 p {
	color: #727272;
}
/* /.play_station_4 */

/* .play_station_plus */
.play_station_plus {
	background-color: #bebcbb;
}

.play_station_plus button {
	color: #2d64e6;
	background-color: #d9dadc;
	border: none;
}
/* /.play_station_plus */

/* .play_station_store */
.play_station_store p {
	color: #727272;
}
/* /.play_station_store */

/* .play_station_now */
.play_station_now {
	background-color: #161c3b;
}

.play_station_now sub {
	font-size: 7px;
}

.play_station_now button {
	background-color: #fff;
	color: #000;
	border: 1px solid #000;
}
/* /.play_station_now */

/* .social */
.social {
	padding: 5rem 0;
}

.social .container {
	padding-top: 5rem !important;
}

/* /.social */

/**********
/#SITE_MAIN 
**********/

/**********
#SITE_FOOTER 
**********/

/**********
/#SITE_FOOTER 
**********/
